*{
    box-sizing: border-box;
}

#whatsapp-flotante {
    height: 68px;
    width: 68px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
    text-decoration: none;
    background-image: url(/img/whatsapp_line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{font-size: 2.8em;
color: aliceblue;}
h2{font-size: 2.7em;}
h3{font-size: 2em; color: aliceblue;}
p{font-size: 1.25em;}
ul{ list-style: none;}

button{
   font-size: 2em; 
   font-weight: bold;
   padding: 10px 30px;
   border-radius: 10px;
   border: 2px solid rgba(0, 0, 0, 0.5);
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
   color: white;
   background-color: #25D366;
}

button:hover{
    cursor: pointer;
    background-color: rgb(7, 168, 42);
}

p.numero{
    font-size: 4em;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:rgb(226, 55, 43);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 2.6em;
    text-align: center;
}
header .sub{
    margin: 0;
    padding: 23px 20px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/i1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 50px;
    height: 90vh;
}
.color-acento{color: rgb(226, 55, 43);}

#servicios{ /*los section van con SHARP ( # ) NO CON PUNTO ( . ) */
    display: flex;
    background-color: rgb(30,30,30);
}

#servicios .container{
    background-color: rgb(30,30,30);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 40px 30px;
}

#servicios h2{
    color: aliceblue;
    margin-top: 0;
}



.texto-servi{
    color: aliceblue;
    font-size: 1.2em;
}

.carta1{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/22.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}

.carta2{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/bn1.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}

.carta3{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(img/bn2.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}

#zonas{
    display: flex;
    flex-direction: column;
    height: 90vh;
    font-weight: bold;
}

#zonas li{
    margin: 12px 0px;
}

#futter{
    display: flex;
    background-color: rgb(30,30,30);
}

#futter .container{
    background-color: rgb(30,30,30);
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px 30px;
}

p.numero2{
    color: aliceblue;
    font-size: 2.4em;
    font-weight: bold;
}

.color-acento2{color: aliceblue;}

#futter .mmf{
    text-align: center;
    color:rgb(226, 55, 43);
    font-size: 1em;
}

#futter .der{
    display: inline-block;
    flex-direction: column;
    text-align: left;
    list-style: none;
    color:rgb(43, 226, 73);
    font-size: 0.7em;
    margin: 12px 0px;
}

#futter .dera{
    display: inline-block;
    flex-direction: column;
    text-align: left;
    list-style: none;
    color:rgb(208, 226, 43);
    font-size: 0.7em;
    margin: 12px 0px;
}

#futter .nombre{
    font-size: 0.9em;
    color: rgb(226, 55, 43);
}